.App {
  display: grid;
  grid-template-rows: 100px 100px auto auto;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 10px;
  grid-template-areas:
    'header header header'
    'section section section'
    '. list .';
}

.header {
  grid-area: header;
}

.login {
  grid-area: section;
}

.page {
  grid-area: list;
}
